@tailwind base;
@tailwind components;
@tailwind utilities;

// usuario nao seleciona html
body{
  user-select:none
}

{/*INICIO- design da barra de scroll da pagina*/}
body::-webkit-scrollbar {
    width: 6px;              
  }
  
  body::-webkit-scrollbar-track {
    background: black;   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: red;
    
  }

  {/*FIM- design da barra de scroll da pagina*/}


// retirando scroll do carrossel popular
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// transform do spinn loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// css adicionais ao tailwind
.loader {
  border-top-color: red; 
  animation: spin 2s infinite linear; 
}

.link:hover{
  border: none;
  color: #c9c9c9;
  transition: all 0.6s ease;
}

.link-two:hover{
  border: none;
  transition: all 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;
}

